@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "ULiD - Topup";
}

<h2>Topup Account</h2>

<p>Please enter the amount of funds you wish to top up:</p>

<select class="form-control" id="TopUpAmount" name="TopUpAmount">
    <option>Select Amount</option>
    <option>5</option>
    <option>10</option>
    <option>15</option>
    <option>20</option>
    <option>25</option>
    <option>30</option>
    <option>35</option>
    <option>40</option>
</select>

<p><a href="~/Views/Home/Checkout.cshtml" class="btn btn-primary btn-lg">Checkout</a></p>